%h1 Listing clinics

.row
- @clinics.each do |clinic|
  %td= link_to 'Show', clinic
  %td= link_to 'Edit', edit_clinic_path(clinic)
  %td= link_to 'Destroy', clinic, method: :delete, data: { confirm: 'Are you sure?' }
