.row
  %h1 Global Health
= form_for :physicians, :url => physicians_path, :method => :get do |f|
  = text_field_tag :zip_code, 'Zip Code'
  %br
  = button_tag "Find Clinics", :type => :submit, :class => 'btn btn-primary'